<!-- <mat-toolbar color="primary">
  <mat-toolbar-row id="headerContainer">
    <div id="logoContainer">
      <img src="assets/img/Logo app.png" alt="">
      <span class="app-title">TeLlevoAPP</span>    
    </div>
    <ion-breadcrumbs>
      <ion-breadcrumb href="#home">Home</ion-breadcrumb>
      <ion-breadcrumb href="#Login">Login</ion-breadcrumb>
      <ion-breadcrumb href="./../../pages/registro/registro.module">Registro</ion-breadcrumb>
      <ion-breadcrumb href="#Soporte">Soporte</ion-breadcrumb>
    </ion-breadcrumbs>
  </mat-toolbar-row>
</mat-toolbar> -->

<ion-header>
  <ion-toolbar id="#headerContainer">
    <div id="logoContainer">
      <img id="logo" src="assets/img/Logo app.png" alt="">
      <span class="app-title">TeLlevoAPP</span>    
    </div>
    <ion-breadcrumbs id="enlacesHeader">
      <ion-breadcrumb href="#home">Home</ion-breadcrumb>
      <ion-breadcrumb href="#Login">Login</ion-breadcrumb>
      <ion-breadcrumb href="./../../pages/registro/registro.module">Registro</ion-breadcrumb>
      <ion-breadcrumb href="#Soporte">Soporte</ion-breadcrumb>
    </ion-breadcrumbs>
  </ion-toolbar>
</ion-header>

